In [1]:
import pymongo
from pandas.io.json import json_normalize
import pandas as pd
import datetime
import io
import re
import os

In [8]:
def data_loop(coin_list_file):
    first_date = pd.to_datetime("2018-06-01 00:01:00", infer_datetime_format=True)
    client = pymongo.MongoClient("mongodb://localhost:27017/")
    db = client.aggregated
    collection = db.binance_aggregation
    
    with open(coin_list_file) as f:
        coins_tot = f.readlines()
        coins_tot = [x.strip() for x in coins_tot]
    
    more = True
    date = first_date
    i=1
    
    while more:
        print('pass number ' + str(i))
        end_date = date + datetime.timedelta(days = 30)
        data = list(collection.find({"date" : { '$gte': date, '$lt': end_date}}))
        df = json_normalize(data) 
        
        df = df.sort_values('date', ascending = True)
        df.index = df['date']
        df = df.drop(["_id", "date"], axis = 1).transpose()
        temp_coins = [a for a in list(df.index) if a.split('.')[0] in coins_tot]
        df = df[df.index.isin(temp_coins)]
        df.to_csv("tusd_data_" + str(i) + ".csv")
        
        if df.shape[1]<10000:
            more = False
        
        date = end_date
        i += 1

In [1]:
#data_loop('tusd.txt')

In [ ]:
def paste_csv(directory):
    data_files = [f for f in os.listdir(data_path) if os.path.isfile(os.path.join(data_path, f))]

In [124]:
df.to_csv("tot_data_" + str(i) + ".csv")

TypeError: 'str' object is not callable

In [6]:
def data_nan_check(directory, coin_list):
   
    path = os.getcwd()
    data_path = os.path.join(path, 'data', directory)
    
    data_files = [f for f in os.listdir(data_path) if os.path.isfile(os.path.join(data_path, f))]
    with open(coin_list) as f:
        filtered_coins = f.readlines()
    filtered_coins = [x.strip() for x in filtered_coins]
    

    i=1
    for file in data_files:
        df = pd.read_csv(os.path.join('data', directory, file),
                         error_bad_lines=False,
                         index_col=0)

        temp_coins = [a for a in list(df.index) if a.split('.')[0] in filtered_coins]
        df_filtered = df[df.index.isin(temp_coins)]
        #df_filtered.to_csv('reduced_data_' + str(i) + '.csv')
        nans = df_filtered.isnull().sum().sum()
        print("The dimensions for set " + str(file) + " are " + str(df_filtered.shape))
        print("The number of missings is " + str(nans))
        i+=1

In [7]:
data_nan_check('tusd_data', 'tusd.txt')

The dimensions for set tusd_data_1.csv are (9, 43095)
The number of missings is 0
The dimensions for set tusd_data_10.csv are (9, 42840)
The number of missings is 76683
The dimensions for set tusd_data_11.csv are (6, 43200)
The number of missings is 0
The dimensions for set tusd_data_12.csv are (6, 42600)
The number of missings is 212400
The dimensions for set tusd_data_13.csv are (6, 43139)
The number of missings is 43194
The dimensions for set tusd_data_14.csv are (6, 37440)
The number of missings is 0
The dimensions for set tusd_data_2.csv are (9, 42745)
The number of missings is 18
The dimensions for set tusd_data_3.csv are (9, 43200)
The number of missings is 0
The dimensions for set tusd_data_4.csv are (9, 43200)
The number of missings is 0
The dimensions for set tusd_data_5.csv are (9, 42990)
The number of missings is 0
The dimensions for set tusd_data_6.csv are (9, 42780)
The number of missings is 0
The dimensions for set tusd_data_7.csv are (9, 43200)
The number of missings is 0
The dimensions for set tusd_data_8.csv are (9, 43200)
The number of missings is 0
The dimensions for set tusd_data_9.csv are (9, 43200)
The number of missings is 0

In [29]:
df = pd.read_csv('data/tusd_data/tusd_data_13.csv', index_col=0)

In [45]:
df.iloc[:, :7220].isnull().sum(axis=0)

2019-05-27 00:01:00    6
2019-05-27 00:02:00    6
2019-05-27 00:03:00    6
2019-05-27 00:04:00    6
2019-05-27 00:05:00    6
2019-05-27 00:06:00    6
2019-05-27 00:07:00    6
2019-05-27 00:08:00    6
2019-05-27 00:09:00    6
2019-05-27 00:10:00    6
2019-05-27 00:11:00    6
2019-05-27 00:12:00    6
2019-05-27 00:13:00    6
2019-05-27 00:14:00    6
2019-05-27 00:15:00    6
2019-05-27 00:16:00    6
2019-05-27 00:17:00    6
2019-05-27 00:18:00    6
2019-05-27 00:19:00    6
2019-05-27 00:20:00    6
2019-05-27 00:21:00    6
2019-05-27 00:22:00    6
2019-05-27 00:23:00    6
2019-05-27 00:24:00    6
2019-05-27 00:25:00    6
2019-05-27 00:26:00    6
2019-05-27 00:27:00    6
2019-05-27 00:28:00    6
2019-05-27 00:29:00    6
2019-05-27 00:30:00    6
                      ..
2019-05-31 23:51:00    6
2019-05-31 23:52:00    6
2019-05-31 23:53:00    6
2019-05-31 23:54:00    6
2019-05-31 23:55:00    6
2019-05-31 23:56:00    6
2019-05-31 23:57:00    6
2019-05-31 23:58:00    6
2019-05-31 23:59:00    6
2019-06-01 00:00:00    0
2019-06-01 00:01:00    0
2019-06-01 00:02:00    0
2019-06-01 00:03:00    0
2019-06-01 00:04:00    0
2019-06-01 00:05:00    0
2019-06-01 00:06:00    0
2019-06-01 00:07:00    0
2019-06-01 00:08:00    0
2019-06-01 00:09:00    0
2019-06-01 00:10:00    0
2019-06-01 00:11:00    0
2019-06-01 00:12:00    0
2019-06-01 00:13:00    0
2019-06-01 00:14:00    0
2019-06-01 00:15:00    0
2019-06-01 00:16:00    0
2019-06-01 00:17:00    0
2019-06-01 00:18:00    0
2019-06-01 00:19:00    0
2019-06-01 00:20:00    0
Length: 7220, dtype: int64

In [19]:
df.iloc[7000:, :]

Empty DataFrame
Columns: [2019-04-27 00:01:00, 2019-04-27 00:02:00, 2019-04-27 00:03:00, 2019-04-27 00:04:00, 2019-04-27 00:05:00, 2019-04-27 00:06:00, 2019-04-27 00:07:00, 2019-04-27 00:08:00, 2019-04-27 00:09:00, 2019-04-27 00:10:00, 2019-04-27 00:11:00, 2019-04-27 00:12:00, 2019-04-27 00:13:00, 2019-04-27 00:14:00, 2019-04-27 00:15:00, 2019-04-27 00:16:00, 2019-04-27 00:17:00, 2019-04-27 00:18:00, 2019-04-27 00:19:00, 2019-04-27 00:20:00, 2019-04-27 00:21:00, 2019-04-27 00:22:00, 2019-04-27 00:23:00, 2019-04-27 00:24:00, 2019-04-27 00:25:00, 2019-04-27 00:26:00, 2019-04-27 00:27:00, 2019-04-27 00:28:00, 2019-04-27 00:29:00, 2019-04-27 00:30:00, 2019-04-27 00:31:00, 2019-04-27 00:32:00, 2019-04-27 00:33:00, 2019-04-27 00:34:00, 2019-04-27 00:35:00, 2019-04-27 00:36:00, 2019-04-27 00:37:00, 2019-04-27 00:38:00, 2019-04-27 00:39:00, 2019-04-27 00:40:00, 2019-04-27 00:41:00, 2019-04-27 00:42:00, 2019-04-27 00:43:00, 2019-04-27 00:44:00, 2019-04-27 00:45:00, 2019-04-27 00:46:00, 2019-04-27 00:47:00, 2019-04-27 00:48:00, 2019-04-27 00:49:00, 2019-04-27 00:50:00, 2019-04-27 00:51:00, 2019-04-27 00:52:00, 2019-04-27 00:53:00, 2019-04-27 00:54:00, 2019-04-27 00:55:00, 2019-04-27 00:56:00, 2019-04-27 00:57:00, 2019-04-27 00:58:00, 2019-04-27 00:59:00, 2019-04-27 01:00:00, 2019-04-27 01:01:00, 2019-04-27 01:02:00, 2019-04-27 01:03:00, 2019-04-27 01:04:00, 2019-04-27 01:05:00, 2019-04-27 01:06:00, 2019-04-27 01:07:00, 2019-04-27 01:08:00, 2019-04-27 01:09:00, 2019-04-27 01:10:00, 2019-04-27 01:11:00, 2019-04-27 01:12:00, 2019-04-27 01:13:00, 2019-04-27 01:14:00, 2019-04-27 01:15:00, 2019-04-27 01:16:00, 2019-04-27 01:17:00, 2019-04-27 01:18:00, 2019-04-27 01:19:00, 2019-04-27 01:20:00, 2019-04-27 01:21:00, 2019-04-27 01:22:00, 2019-04-27 01:23:00, 2019-04-27 01:24:00, 2019-04-27 01:25:00, 2019-04-27 01:26:00, 2019-04-27 01:27:00, 2019-04-27 01:28:00, 2019-04-27 01:29:00, 2019-04-27 01:30:00, 2019-04-27 01:31:00, 2019-04-27 01:32:00, 2019-04-27 01:33:00, 2019-04-27 01:34:00, 2019-04-27 01:35:00, 2019-04-27 01:36:00, 2019-04-27 01:37:00, 2019-04-27 01:38:00, 2019-04-27 01:39:00, 2019-04-27 01:40:00, ...]
Index: []

[0 rows x 42600 columns]